* {
  font-family: 'Tajawal', Arial, Helvetica, sans-serif !important;
}

/* Don't override Material Icons & similar */
.material-icons,
.mat-icon,
.fa,
.fas,
.far,
.fab {
  font-family: 'Material Icons' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
